<!DOCTYPE html>

<html>
    <head>
        <title>StartLabs</title>
        <!---Styles heet-->
        <link rel='stylesheet' type="type/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="top-background">

            <div class="animation">
                
                <img src="‎⁨templates/logo.png" alt="Logo">

            
                <div id="motto">
                    
                    Fostering the next generation <br>
                    of <strong>technical entrepreneurs</strong>

                </div>
                
                <input type="email" placeholder="Enter your email"> 
                <button type="submit">subscribe</button>

            </div>
            
        </div>


        
    </body>
</html>