<!DOCTYPE html>

<html>
    <head>
        <title>StartLabs</title>
        <!---Stylessheet-->
        <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    </head>
    <body>
        <div class="top-background">

            <div class="animation">
            
                <p><a href="http://127.0.0.1:5000"><center><img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo"></center></a></p>

            
                <div id="motto">
                    
                    Fostering the next generation of <br> 
                    <strong>technical entrepreneurs</strong>

                </div>
                <center>
                    <input type="email" placeholder="Enter your email"> 
                    <button type="submit">subscribe</button>
                </center>

                
            </div>        
        </div>


    </body>
</html>