@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css?family=Niconne');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');


/********************************************************/
/* Leon's CSS - General Website Setup and Sample Section*/
/********************************************************/

body, html {
    height: 100%;
    margin: 0;
}

/* .top-background {
    background: url(../images/large-bg.jpg) center;
    background-size: cover;

    text-align: center;
    color: white;
    padding: 70px 0;
}

.top-background #title {
    font-weight: bold;
    font-style: normal;
    font-size: 68px;
    text-transform: uppercase;
    line-height: 1em;
    color: #fff;
    padding: 20px;
    letter-spacing: 0.0588235em;
}

.top-background button {
    border-radius: 300px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 1.75em;
    background-color: #36b3a8;
    display: inline-block;
    line-height: 1em;
    margin: 10px 0;
    color: #fff;
    border: none;
} */

/**********************/
/* Giannis's CSS - TOP BACKGROUND*/
/**********************/

.animation {

    animation:fadeInDown 2s;
    -moz-animation:fadeInDown 2s;
    -webkit-animation:fadeInDown 2s;
    -o-animation:fadeInDown 2s;

}

.top-background {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: -2%;

}

@-webkit-keyframes fadeInDown {

    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

.top-background #motto {

    color: #fff;
    text-align: center;
    font-size: 3em;
    padding-top: 5%;

}

.top-background img {

    height: 250px;
    width: 400px;
    padding-top: 5%;
    cursor: pointer;
}

.top-background input  {

    margin-top: 5%;
    height: 50px;
    width: 400px;
    vertical-align: top;
    font-size: 25px;
    padding-left: 15px;
    background-color: #F7F0F0;
    border-radius: 6px;
    margin-bottom: 10%;
    font-weight: 300;

}

.top-background button {

    cursor: pointer;
    height: 60px;
    width: 180px;
    margin-left: 1%;
    background-color: #61ce78;
    color: #ffffff!important;
    border-color: #406740;
    margin-top: 5%;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;

}


.top-background button:hover {

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/*********************/
/* Leon's CSS - First Section*/
/*********************/



/* .first-section #title{
    padding: 30px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-family: 'Cormorant Garamond', serif;
} */
/*
.first-section #body {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.6em;
    color: rgba(26,26,26,.7);
    font-family: 'Cormorant Garamond', serif;
    text-align: center; 
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 30px;
} */

/*********************/
/* Leon's Footer - */
/*********************/


.footer {
    text-align: center; 
    padding: 64px 32px;
    box-sizing: border-box;
    margin: auto;
    display: block;
    color: rgba(255,255,255,.4);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.6em;
    background-color: #000;
    color: #fff;
}

/*********************/
/* Stuart's CSS - FAQ*/
/*********************/
#title {
    text-align: center;
}
div.outer {
    display:table; 
    table-layout: fixed;
    width:100%;
}

div.middle {display:table-row;}

div.inner {
    display:table-cell;
    text-align: left;
    padding:20px;
}

/*************8*******************/
/* Maanasa's CSS - About Section */
/*********************************/

.about {
    font-family:'Open Sans',Arial,sans-serif;
    background:#FFF;
    color:#141a1d;
    float:left;
}
.about-section {
    margin-left: 8%;
    margin-right: 8%;
}
.horizontal {
    float: left;
    text-align:center;
    font-family: Verdana,Geneva,sans-serif;
    box-sizing:border-box;
    width: 25%;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
    color:#384047;
}
.about-section-title {
    /* background-image: url(../images/startup.jpg); */
    background-color: rgba(17, 104, 14, 0.945);
    background-size: cover;
    height: 100%;
    overflow: hidden;
    text-align:center;
    color:#FFF;
}

/** Footer Section **/


.footercta {
	padding: 60px 15px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	background-color: #6883cc;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/image.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.footerlinks {
	text-align:center;
}
.footerlinks a {
	text-align:center;
	padding:0 13px;
	display:inline-block;
	padding-bottom: 15px;
}
