<html>
  <head>
    <title>Mission Statement</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css"
      href="{{url_for('static', filename='styles/bootstrap.css')}}"/>
    <link rel="stylesheet" type="text/css"
      href="{{url_for('static', filename='styles/main.css')}}"/>
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename='styles/mission.css')}}"/>
  </head>
  <body>
    <h2 class="mission_header">Our Mission</h1>
    <div class="mission_body">
      Fostering the next generation of <b>technical entrepreneurs</b> by helping MIT students learn about startups and launch innovative ventures
    </div>
  </body>
</html>
