{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <style>
  	table {
	    clear: both;
	    list-style-type: none;
	    margin-top: 12px !important;
	    margin-right: 0px !important;
	    margin-bottom: 0px !important;
	    margin-left: 0px !important;
	    padding-left: 0;
		}
		tr {
		    border-bottom: 1px solid rgba(215,215,215,0.7);
		    padding-bottom: .5rem;
		    padding-top: .5rem;
		    text-align: left;
		    vertical-align: middle;
		}
		td {
		    padding-left: 5px;
		    padding-right: 5px;
		}
		p {
		    vertical-align: middle;
		}
		table {
		    width: 100%;
		}

		div {
		    align-items: center;
		}

		.icon {
		    vertical-align:middle;
		    margin-left: auto;
		    margin-right: auto;
		}

		.icon-span {
		    width:25px;
		    height:25px;
		    vertical-align:middle;
		    display: inline-block;
		}

		.events_padding {
		    width:100%;
		    padding:20px;
		}

		.logo-plus-button-lockup-text {
		    font-family: "Product Sans", Arial, Helvetica, sans-serif;
		    font-size: 13px;
		    opacity: 0.54;
		    color: black;
		}

		.no-events-text {
			text-align: center;
		}

  </style>
{% endblock %}

{% block content %}
<center>
    <h1> partners </h1>

    <p id="events_descrip" class="description">
      Over the year, we organize a wide variety of different events, ranging from case studies and speaker series to international
tech treks and Entrepalooza. We love experimenting with new ideas, so each semester always has a unique and creative
lineup of amazing events. To keep up to date with all our events, <a href="https://calendar.google.com/calendar/render?cid=startlabs.management%40gmail.com">click here</a> to add our Google Calendar!.
    </p>

    <table>
      {%if events%}
        {%for event in events%}
        <!-- If events exist, create row for each event -->
        <tr>
          <td style="width:5%">
            <a target="_blank" href="{{event['htmlLink']}}">
              <img border="0" src="https://calendar.google.com/googlecalendar/images/logo-plus.png">
            </a>
          </td>
          <td style="width:25%"><h3>{{event['summary']}}</h3></td>
          <td style="width:25%">{{event['description']}}</td>
          <td style="width:25%"><div>
            <span class="icon-span"><img width="20" height="20" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Calendar_icon_2.svg/128px-Calendar_icon_2.svg.png"></span> 
          </div></td>
          <td style="width:20%">
            {%if event['location']%}
              <span class="icon-span"><img src="https://image.flaticon.com/icons/svg/63/63349.svg" width="20" height="20"/></span>
              {{event['location']}}
            {%endif%}
          </td>
        </tr>
        {%endfor%}
      {%else%}
        <!-- Display if no events on calendar -->
        <tr><td colspan="4"> <p class="no-events-text">No Upcoming Events</p> </td></tr>
      {%endif%}
    </table>
</center>


    <div class="homepage-wrapper">
        <div class="row">
            <div class="column" id="leftcol">
                <center>
                <h2> welcome to </h2>
                <h1> startlabs </h1>
                <p id="home_descrip" class="description">
                    We are the premier undergraduate entrepreneurship club at MIT, 
                    providing opportunities for student entrepreneurs and working to 
                    foster an innovative environment for the entire community.
                </p>
                </center>
            </div>
            <div class="column" id="rightcol">
                <center>
                <h2> welcome to </h2>
                <h1> startlabs </h1>
                <p id="home_descrip" class="description">
                    We are the premier undergraduate entrepreneurship club at MIT, 
                    providing opportunities for student entrepreneurs and working to 
                    foster an innovative environment for the entire community.
                </p>
                </center>
            </div>
        </div>
    </div>

{% endblock %}