<!-- Copyright and image at bottom -->
<main class="footercta" role="main">
  <div class="container">
    <h1>Let's make MIT a place to start <strong>innovating ideas for the future.</strong> <br>
      </h1>

    <div class="row">
      <div class="col-md-12 breath text-center">
        <a href="#top" class="btn btn-success btn-lg gototop">Back to Top</a>
      </div>
    </div>
  </div><! --/container -->
</main><! --/main -->
<div class="container">
  <section class="row breath">
    <div class="col-md-12 footerlinks">
      <p>© 2018 StartLabs All Rights Reserved</p>
    </div>
  </section><! --/section -->
</div>
