{% extends "layout.html" %}

{% block head %}
  {{ super() }}

  <style>

    html, body {
        margin:0;
        padding:0;
    }

    .half_wide_section {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
    }

    .half_wide_section .large_image{
        width: 100%;
    }

    .wide_section {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("{{url_for('static', filename='images/homepage/wideimage.jpg')}}");
        height: 100vh;
        width: 100%;
        background-size: auto 100%;
        display: flex;
        align-items: center;
    }

    .wide_section .inner_left {
        height: auto;
        width: 70%;
        display: inline-block;
    }

    .wide_section .inner_left p {
        margin: 20px;
        color: white;
        font-size: 40px;
    } 

    /* Contact Us Button */
    button {
        color: {{colors.contact_button}};
        background-color: transparent;
        border-style: solid;
    	border-radius: 10px;
        border-color: {{colors.contact_button}};
        padding: 2px 10px 2px 10px;
    }


    @media only screen and (max-width: 800px) {
        .half_wide_section {
            width: 100%;
        }
    }

    
  </style>

{% endblock %}

{% block content %}

    <div class="half_wide_section">
        <img class="large_image" src="{{url_for('static', filename='images/homepage/ideafactory-25.jpg')}}"> 
    </div><div class="half_wide_section"> 
        <center>
            <p class="common"> <i> welcome to </i> </p>
            <h1> startlabs </h1>
            <p class="description">
                We are the premier undergraduate entrepreneurship club at MIT, 
                providing opportunities for student entrepreneurs and working to 
                foster an innovative environment for the entire community.
            </p>
            <br><br>
            <button class="common"> contact us </button>
        </center>
    </div>
    
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>


    <div class="wide_section">
        <div class="inner_left">
            <p>
                empowering the next generation of technical entrepreneurs
                <br>
                <button class="common"> contact us </button>
            </p>
        </div>
    </div>


    <div class="half_wide_section"> 
        <center>
            <h2> events </h2>
            <p class="description">
                StartLabs hosts a gamut of events, both for team members and for the entire MIT community. From Entrepalooza, our large entrepreneurship forum, to our annual international tech trek, we provide opportunities for students to explore, connect, and innovate.            </p>
            <br><br>
            <button class="common"> learn more </button>
            <br>
            <br>
        </center>
    </div><div class="half_wide_section">
        <img class="large_image" src="{{url_for('static', filename='images/homepage/somewhere.png')}}"> 
    </div>
    


{% endblock %}





