{% extends "layout.html" %}

{% block head %}
  {{ super() }}

  <style>

    /* Half wide sections */
    .half_wide_section {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
    }

    .half_wide_section .large_image{
        width: 100%;
    }

    /* Wide Section*/

    .wide_section {
        height: 100vh;
        width: 100%;
        background-size: auto 100%;
        display: flex;
        align-items: center;
    }

    /* Landing Section */
    /******************/
    .title{
        font-size: 140px;
        font-weight: 800;
        padding: 0px 0px;
        margin-block-end: 0px;
    }

    .tagline{
        color: {{colors.h3}};
        font-weight: 600;
        font-size: 25px;
        margin-block-start: 0px;
        margin-block-end: 0.5em;
    }

    #landing_div{
        height: 80vh;
        display: inline-block;
        padding-top: 50px;
        background-image: url("{{url_for('static', filename='images/homepage/landing-shapes.svg')}}"),url("{{url_for('static', filename='images/homepage/landing-side.svg')}}") ;
        background-position: 110%, 0% 40%;
        background-size: auto, 8%;
        background-repeat: no-repeat, no-repeat;
    }
    
    /* Contact Button */
    /******************/
    button {
        color: {{colors.contact_button}};
        background-color: transparent;
        border-style: solid;
        border-width: 2px;
    	border-radius: 10px;
        border-color: {{colors.contact_button}};
        padding: 5px 20px 3px 20px;
        font-family: 'neue-einstellung';
        font-size:15px;
        font-weight:600;
        /* width:100px; */
    }

    /* About Section */
    /******************/
    .about-icons {
        display: flex;
        justify-content: space-around;
    }

    .about-image{
        height:65px;
    }

    #innovation_tag{
        color:{{colors.light}};
    }

    #startups_tag{
        color:{{colors.medium}};
    }

    #community_tag{
        color:{{colors.accent_two}};
    }

    #fun_tag{
        color:{{colors.accent_one}};
    }

    .description{
        text-align: justify;
        line-height:20px;
    }

    .item_description{
        font-size: 15px;
    }

    /* Dark Section */
    /******************/
    #dark_section{
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("{{url_for('static', filename='images/homepage/image.jpg')}}");
    }

    .wide_section .inner_left {
        height: auto;
        width: 70%;
        display: inline-block;
    }

    .wide_section .inner_left p {
        margin: 30px;
        color: white;
        font-size: 40px;
    }

    .photo_tagline{
        font-size: 30px;
        font-weight: 600;
    }

    /* CONTACT BUTTON */
    .photo_button{
        color: {{colors.light}};
        background-color: transparent;
        border-style: solid;
        border-width: 2px;
    	border-radius: 10px;
        border-color: {{colors.light}};
        padding: 5px 20px 3px 20px;
        font-family: 'neue-einstellung';
        font-size:25px;
        font-weight:400;
        /* width:100px; */
    }


    /* Changing CSS for small screens */
    @media only screen and (max-width: 800px) {
        .half_wide_section {
            width: 100%;
        }
    }

  </style>

  <script>
    /*
    FEATURE: Changing the color of the topbar (for dark section of homepage)
    */
    $( document ).ready(function() {
        var topbar = document.getElementById("topbar");
        var dark_section = document.getElementById("dark_section");

        function addContrast() {
            var height_start = dark_section.offsetTop;
            var height_end = height_start + dark_section.clientHeight;
            topbar = document.getElementById("topbar");
            tags = document.getElementById("topbar").getElementsByTagName("*");

            // Navbar css in Contrast section
            if (window.pageYOffset >= height_start && window.pageYOffset <= height_end) {
                topbar.style.backgroundColor = "transparent";
                for (i = 0; i < tags.length; i++){
                    tags[i].style.backgroundColor = "transparent";
                    tags[i].style.color = "white";
                    tags[i].onmouseover = function() {
                        this.style.color = "{{colors.navbar_active}}";
                    }
                    tags[i].onmouseout = function() {
                        this.style.color = "white";
                    }
                }
            }
            // Navbar css in Normal section
            else {
                topbar.style.backgroundColor = "white";
                for (i = 0; i < tags.length; i++){
                    tags[i].style.backgroundColor = "white";
                    tags[i].style.color = "{{colors.navbar_nonactive}}";
                    tags[i].onmouseover = function() {
                        this.style.color = "{{colors.navbar_active}}";
                    }
                    tags[i].onmouseout = function() {
                        this.style.color = "{{colors.navbar_nonactive}}";
                    }
                }
            }
        }

        window.onscroll = function() {addContrast()};
    });

  </script>

{% endblock %}

{% block content %}

    <div class="wide_section" id="landing">
        <div class="wide_section" id="landing_div">
            <center>
            <!-- <p class="common"> <i> welcome to </i> </p> -->
            <h1 class = "title">startlabs</h1>
            <p class="tagline">MIT's premier entrepreneurship club</p>
            <br><br>
            <button class="common" onclick="window.location.href = 'https://forms.gle/b6jsjfpCb8az5ad98';"> join the team </button>
            
            </center>
        </div>
    </div>
    <br><br>
    <div class="wide-section" id="about">
        <center>
            <h1>about us</h1>
            <p class="description">
            StartLabs is a hub of undergraduate entrepreneurship activity at MIT. We host community events for student entrepreneurs to meet one another and find co-founders or early hires, connecting student startups to resources across campus or in industry and providing publicity and exposure through our channels, and holding large, campus-wide events to increase student interest in entrepreneurship and understanding of what the profession entails. Our goals are to educate members in material relevant to becoming successful entrepreneurs, increase undergraduate interest in entrepreneurship, and help student startups become successful.
            </p>
            <br>
            <br>
            <div class="about-icons description">
            <div style="width:22%;">
                <center>
                <img src="{{url_for('static', filename='images/about/about-bulb.svg')}}" class="about-image">
                <h3 id="innovation_tag">innovation</h3>
                <p class="item_description">we come up with new ideas and new companies.</p>
                </center>
            </div>
            <div style="width:22%;">
                <center>
                <img src="{{url_for('static', filename='images/about/about-rocket.svg')}}" class="about-image">
                <h3 id="startups_tag">startups</h3>
                <p class="item_description">we connect with local, national, and international startups.</p>
                </center>
            </div>
            <div style="width:22%;">
                <center>
                <img src="{{url_for('static', filename='images/about/about-community.svg')}}" class="about-image">
                <h3 id="community_tag">community</h3>
                <p class="item_description">we provide a support network of entrepreneurs.</p>
                </center>
            </div>
            <div style="width:22%;">
                <center>
                <img src="{{url_for('static', filename='images/about/about-plane.svg')}}" class="about-image">
                <h3 id="fun_tag">fun</h3>
                <p class="item_description">we bond, we party, we have fun!</p>
                </center>
            </div>
            </div>
        </center>
    </div>
    <!-- </div>
    <div class="half_wide_section">
        <img class="large_image" src="{{url_for('static', filename='images/homepage/ideafactory-25.jpg')}}">
    </div><div class="half_wide_section">
        <center>
        </center>
    </div> -->
<br><br><br><br>
    <center>
      <h1>upcoming events</h1>
      <br>
        {% include 'calendar.html' with context%}
    </center>

    <br><br><br><br><br><br><br><br>


    <div class="wide_section" id="dark_section">
        <div class="inner_left">
            <p class="photo_tagline">
                empowering the next generation <br>
                of technical entrepreneurs.
                <br><br>
                <button class="photo_button" onclick="window.location.href = 'contact';"> contact us </button> 
            </p>
        </div>
    </div>


    <!-- <div class="half_wide_section">
        <center>
            <h2> events </h2>
            <p class="description">
                StartLabs hosts a gamut of events, both for team members and for the entire MIT community. From Entrepalooza, our large entrepreneurship forum, to our annual international tech trek, we provide opportunities for students to explore, connect, and innovate.            </p>
            <br><br>
            <button class="common"> learn more </button>
            <br>
            <br>
        </center>
    </div><div class="half_wide_section">
        <img class="large_image" src="{{url_for('static', filename='images/homepage/somewhere.png')}}">
    </div> -->


    <!-- <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 300">
        <rect class="container" x="0" y="0" width="100" height="100"/>
        <circle class="smallcircle" r="15" cx="100" cy="100" fill="transparent"/>
        <circle class="bigcircle" r="30" cx="40" cy="40" fill="transparent"/>
        <polygon class="smalltriangle" points="60,46 80,80 40,80" fill="transparent"/>
        <polygon class="bigtriangle" points="120,92 160,160 80,160" fill="transparent"/>
        <polygon class="diamondTu tulip" points="400, 280, 310, 150, 400, 20, 490, 150"/>
        <style>
            .container { fill: #fff222; }
            .tulip { fill: #CC2954; }
            
            .smalltriangle {
                animation: spin 3s linear infinite;
            }
            
            .bigtriangle {
                animation-name: diamondTurns;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                transform-origin: 50% 50%;
            }

            .smallcircle, .bigcircle, .smalltriangle, .bigtriangle {
                stroke: #CC2954;
                stroke-width: 1px;
                stroke-linecap: round;
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% {  transform: rotate(359deg); }
            }

            @keyframes diamondTurns {
                0%   { transform: rotate(360deg); }
                50%  { transform: rotate(-90deg); } 
                100% { transform: rotate(360deg); }
            }
        </style>
    </svg> -->


{% endblock %}
