{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <style>
    .container {
      width: 85vw;
      /* border: 2px solid black; */
    }
   .left {
      box-sizing: border-box;
      display: inline-flex;
      width: 35vw;
      vertical-align: top;
      padding: 10px;
      justify-content: center;
      align-items: center;
    }
    .right {
      box-sizing: border-box;
      margin: 0px;
      padding: 30px;
      display: inline-block;
      width: 46vw;
      text-align: left;
      overflow-wrap: break-word;
    }
	.ideafactoryimg {
            width: 100%;
		
	}
        h1 {
            padding-top: 5vh;
            color: black;
            display: inline-block;
            width: 80%;
            text-align: left; 
            margin-bottom: 0;
        }
        .title{
            color: #ff493e;
        }
        #apps, #where, #when{
            color: #3fbdd0;
        }
        .tagline{
            margin-left: 40px;
            color: black;
            font-weight: 600;
            font-size: 25px;
            float: left;
            justify-content: left;
            text-align: left;
            width: 60%;
        }
        .details_text{
            color: black;
            font-weight: 400; 
        }
        .details_text1{
            color: black;
            font-weight: 400; 
            text-decoration: underline;
        }
        .body{
            width: 100%;
            float: left;
            justify-content: left;
            text-align: left;
        }
        .poster{
            background-image: url("{{url_for('static', filename='images/ideafactory/if-bottom.png')}}"),url("{{url_for('static', filename='images/ideafactory/if-bottom.png')}}") ;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 50%;
            background-position: bottom right;
        }

        .description{
            padding-bottom: 3vh;
        }

        .map {
            margin-left: 40px;
            width: 60%;
            float: left;
            justify-content: left;
            text-align: left;
        }
        .map iframe {
            width: 400px;
            height: 300px; 
        }

        .logotext {
            font-weight: 800;
            color: {{colors.dark}};
        }
    @media only screen and (max-width: 640px) {
        .poster{
            background-image:none;
        }

        h1 {
            padding-bottom: 3vh;
        }

        .body{
            width: 100%;
            float: left;
            justify-content: left;
            text-align: left;
            font-size: 18px;
        }
        .description{
            padding-bottom: 0vh;
        }

        #where, #when{
            display: block;
            margin-right: 80%;
        }

        #when{
            margin-top:1vh;
        }

        .map iframe {
            width: 200px;
            height: 300px; 
        }

    }
    </style>
    
{% endblock %}


{% block content %}
<div class = "poster">
    <center>
    <h1> welcome to the <a class = "title"> MIT idea factory!</a> </h1>
    <div class = "description">
      <div class="container">
      <div class="left">
        <p class="body" style="font-size: 20px;">
            MIT <a href="./" class="logotext">startlabs</a> is proud to present <b>Idea Factory</b>. Participants will ideate solutions to pressing problems on the forefront of innovation, presented by established companies and venture incubators today.
            <br />  <br />
                Students from MIT, the greater Boston area and industry
                professionals will come together to form teams. Comparing
                perspectives on technological advances and approaches
                towards entrepreneurship, members will build long-lasting
                relationships and explore how cultural context shapes and
                evolves innovation. 
            <br><br>
            <a href = 'http://lu.ma/SLidea' id = "apps"> 
              <u>Applications</u>
            </a> are open!
            <br><br>
            <a href = 'http://docs.google.com/spreadsheets/d/1-hLc4A-wvrWfJCAq1q11JuyjRdJ_LHXHi6f9CCkSg8M/edit?fbclid=IwAR25JVzP8tNYy11zubmDs7HZVH4BEeRhc8J09m0e1ILwn-9PSbZ2Xt8YHtU#gid=0' id = "apps"> 
              <u>Office Hours</u>
            </a> can be found here
        </p>
      </div>
      <div class="right">
            <img class="ideafactoryimg" src="{{url_for('static', filename='images/ideafactory/2021flyer.png')}}"/>
      </div>
      

   </div>
        <!-- <p class="tagline"> 
            <a href = 'https://lu.ma/SLidea' id = "apps"> 
                <u>applications</u>
            </a> are open until November 26
        </p> -->
        <p class = 'tagline'>
            <a id='when'>weekday events: </a><a class = "details_text">April 6-9, from 7pm to 7:45pm ET</a><br/>
            <a id='when'>RSVP: </a><a class = "details_text1" href = 'http://bit.ly/ideafactory-week-rsvp'>bit.ly/ideafactory-week-rsvp</a><br/>
            <a id='where'>event link: </a><a class = "details_text1" href = 'http://bit.ly/ideafactory-week'>bit.ly/ideafactory-week</a>  <br /> 
            <br />
            <a id='when'>main ideathon: </a><a class = "details_text">Saturday, April 10 from 9am to 4pm ET</a><br/>
            <a id='when'>Apply: </a><a class = "details_text1" href = 'http://lu.ma/SLidea'>lu.ma/SLidea</a><br/>
            <a id='where'>event link: </a><a class = "details_text1" href = 'https://mit.zoom.us/j/92129322283?pwd=WG9vV2JhK0tPVmt4VitGT1lEV2t6Zz09'>Here</a>  <br /> 
        </p>

        <!-- <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11792.504759250372!2d-71.0848458!3d42.3611499!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x750db0dbd041a71d!2sMartin%20Trust%20Center%20for%20MIT%20Entrepreneurship!5e0!3m2!1sen!2sus!4v1573949468487!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div> -->
    </div>


    </center>

    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>

</div>


{% endblock %}



