<!DOCTYPE html>

<html>
    <head>
        <title> New Website </title>
        <!-- Stylesheet -->
        <link rel="stylesheet" href="{{url_for('static', filename='styles/home.css')}}">
    </head>
    <body>
        

        {% include "top.html" ignore missing %}

        <!-- First Section -->
        <!-- <div class="first-section">
            <div id="title">
                We are the world's largest supplier of plushies
            </div>
            <div id="body">
                All plushies were not created equal. Yet all deserve tender love and care. We at Plushies Inc strive to make that happen, to truly be the change you see in this world. Join us for the revolution.
            </div>
        </div> -->

        {% include "about.html" ignore missing %}
        <br><br>
        <hr>
        {% include "faq.html" ignore missing %}

        

        <!-- Footer Section -->
        <div class="footer">
            Powered by StartLabs
        </div>

    </body>
</html>