<!DOCTYPE html>

<html>
    <head>
        <title> New Website </title>
        <!-- Stylesheet -->
        <link rel="stylesheet" href="{{url_for('static', filename='styles/home.css')}}">
    </head>
    <body>


        {% include "top.html" ignore missing %}

        {% include "about.html" ignore missing %}
        <br><br>

        {% include "events.html" ignore missing with context%}

        {% include "headshots.html" ignore missing with context%}

        <hr>
        {% include "faq.html" ignore missing %}



        <!-- Footer Section -->
        <div class="footer">
            Powered by StartLabs
        </div>

    </body>
</html>
