<!DOCTYPE html>

<html>
    <head>
        <title> New Website </title>
        <!-- Stylesheet -->
        <link rel="stylesheet" href="{{url_for('static', filename='styles/home.css')}}">
		<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='styles/bootstrap.css')}}"/>
		<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='styles/main.css')}}"/>
		<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='styles/events.css')}}"/>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
        <script src="{{url_for('static', filename='old/js/jquery.js')}}"></script>
        <script src="{{url_for('static', filename='old/js/bootstrap.js')}}"></script>
        <script src="{{url_for('static', filename='old/js/easing.js')}}"></script>
        <script src="{{url_for('static', filename='old/js/nicescroll.js')}}"></script>
        <script src="{{url_for('static', filename='old/js/smoothscroll.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='old/js/pace.js')}} "></script>
		<link rel="shortcut icon" href="{{url_for('static', filename='old/images/startlabs-2017.png')}}">

    </head>
    <body>

			{% include "header.html" ignore missing %}


        {% include "top.html" ignore missing %}

        <!-- First Section -->
        <!-- <div class="first-section">
            <div id="title">
                We are the world's largest supplier of plushies
            </div>
            <div id="body">
                All plushies were not created equal. Yet all deserve tender love and care. We at Plushies Inc strive to make that happen, to truly be the change you see in this world. Join us for the revolution.
            </div>
        </div> -->

        {% include "about.html" ignore missing %}
        <br><br>

        {% include "past_events.html" ignore missing with context%}

        {% include "events.html" ignore missing with context%}

        <hr>
        {% include "faq.html" ignore missing %}

        <!-- Footer Section -->
		{% include "footer.html" ignore missing %}


    </body>
</html>
