{% extends "layout.html" %}

{% block head %}
  {{ super() }}

  <style>

    #partners_descrip{
      text-align: justify;
      margin: 40px; 
      width: 60vw;
    }

    #partners_logos {
      display: block;
      width: 90%;
      margin: 0px 20px 20px 20px;
    }
    #partners_logos img{
      max-width: 300px;
      vertical-align: middle;
      margin: 0px 50px 20px 50px;
    }

    .swiss_container {
      width: 80vw;
      /* border: 2px solid black; */
    }
    .swiss_container .left {
      box-sizing: border-box;
      display: inline-flex;
      width: 40vw;
      vertical-align: top;
      padding: 10px;
      justify-content: center;
      align-items: center;
    }
    .swiss_container iframe {
      width: 100%;
      height: 300px;
      margin-top: 30px;
    }
    .swiss_container img {
      width: 100%;
    }
    .swiss_container .right {
      box-sizing: border-box;
      margin: 0px;
      padding: 30px;
      display: inline-block;
      width: 39vw;
      text-align: left;
      overflow-wrap: break-word;
    }
    .swiss_container .subheading {
      font-size: 20px;
      color: black;
      font-style: italic;
    }

    .general_container {
      width: 80vw;
      /* border: 2px solid black; */
    }
    .general_container .left {
      box-sizing: border-box;
      display: inline-block;
      width: 40vw;
      vertical-align: top;
      padding: 30px 30px;
    }
    .general_container .right {
      display: inline-block;
      width: 39vw;
    }
    .general_container .heading {
      font-size: 40px;
      font-weight: 600;
      color: {{colors.accent_one}};
    }
    .general_container img {
      width: 100%;
    }


    @media only screen and (max-width: 640px) {
      .swiss_container .left {
        width: 80vw;
      }
      .swiss_container .right {
        width: 80vw;
      }
      .general_container .left {
        width: 80vw;
      }
      .general_container .right {
        width: 80vw;
      }
    }
  </style>

{% endblock %}

{% block content %}
  <center>
    <h1> events </h1>

    <p id="partners_descrip">
      Over the year, we organize a wide variety of different events, ranging from case studies and speaker series to international
      tech treks and Entrepalooza. We love experimenting with new ideas, so each semester always has a unique and creative
      lineup of amazing events. Please reach out and <a href="contact"><u>contact us</u></a> for any potential partnerships!
    </p>

    <div class="swiss_container">
      <div class="left">
        <!-- <img src="{{url_for('static', filename='images/contact-us-wide-bg-alt.jpg')}}"> -->
        <iframe src="https://youtu.be/fNeffvzDjsM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="right">
        <h2> germany tech trek </h2>
        <p class="subheading">
          spring, 2022
        </p>
        <p>
          StartLabs went to Germany spring break 2022 to immerse
          ourselves in the amazing entrepreneurial
          ecosystem of Germany. We’ve chosen
          to focus on these cities for their involvement
          with emerging fields like financial technology,
          robotics, biotechnology, and micro/nanotechnology,
           boosted by the presence of nearby ETH and
          
          EPFL. Through this week long experience, we
          
          hope to learn what distinguishes German innovation
           from the rest of the world and inspire our
          
          community members to entrepreneurship that is
          both locally built and globally aware.
        </p>
      </div>
    </div>

    <div class="swiss_container">
      <div class="left">
        <!-- <img src="{{url_for('static', filename='images/contact-us-wide-bg-alt.jpg')}}"> -->
        <iframe src="https://www.youtube.com/embed/T31EWs2JuGM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="right">
        <h2> switzerland tech trek </h2>
        <p class="subheading">
          march 23-29, 2019
        </p>
        <p>
          StartLabs went to Switzerland this spring break to immerse
          ourselves in the amazing entrepreneurial
          ecosystems of Zurich and Geneva. We’ve chosen
          to focus on these cities for their involvement
          with emerging fields like financial technology,
          robotics, biotechnology, and micro/nanotechnology,
           boosted by the presence of nearby ETH and
          
          EPFL. Through this week long experience, we
          
          hope to learn what distinguishes Swiss innovation
           from the rest of the world and inspire our
          
          community members to entrepreneurship that is
          both locally built and globally aware.
        </p>
      </div>
    </div>


    <div class="swiss_container">
      <div class="left">
        <!-- <img src="{{url_for('static', filename='images/contact-us-wide-bg-alt.jpg')}}"> -->
        <iframe src="https://www.youtube.com/embed/Nf0LLSqocws" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="right">
        <h2> israel tech trek </h2>
        <p class="subheading">
          spring 2018
        </p>
        <p>
          We visited Israel this spring break to immerse ourselves in the amazing entrepreneurship ecosystems of Tel Aviv and Jerusalem. The “Startup Nation” has roughly 3,000 startups in just a 10 mile radius, the most startups per capita in any ecosystem around the world. It’s especially known for its presence in hi-tech industries like cybersecurity, unmanned aerial vehicles, SaaS and Fintech, which appeal heavily to the MIT demographic. 
        </p>
      </div>
    </div>

    <br><br><br>

    <div class="general_container">
      <div class="left">
        <p class="heading">
          events
        </p>
        StartLabs hosts a gamut of events, both for team members and for
        the entire MIT community. From Entrepalooza, our large entrepre-
        neurship forum, to our annual international tech trek, we provide
        opportunities for students to explore, connect, and innovate    
      </div>
      <div class="right">
        <img src="{{url_for('static', filename='images/somewhere.png')}}">
      </div>
    </div>


  </center>

  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>

{% endblock %}
