{% extends "layout.html" %}

{% block head %}
  {{ super() }}

  <style>

    #partners_descrip{

      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 300'%3E%3Crect class='mouse' x='0' y='0' width='800' height='300'/%3E%3Cpolygon class='diamondMoBa tulip' points='400, 280, 310, 150, 400, 20, 490, 150'/%3E%3Cstyle%3E .mouse %7B fill: %23ffffff; %7D .tulip %7B fill: %23CC2954; %7D .diamondMoBa %7B animation-name: diamondMovesBack; animation-duration: 4s; animation-iteration-count: infinite; transform-origin: 50%25 50%25; animation-direction: alternate-reverse; %7D @keyframes diamondMovesBack %7B 0%25 %7B transform: translate(0, 0); %7D 100%25 %7B transform: translate(200px, 0); %7D %7D %3C/style%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: bottom right;
      min-height: 200px;    
    }

    #partners_logos {
      display: block;
      width: 90%;
      margin: 20px 20px 20px 20px;
    }
    #partners_logos img{
      max-width: 300px;
      max-height: 200px;
      vertical-align: middle;
      margin: 20px 50px 20px 50px;
    }

    @media only screen and (max-width: 800px) {
      #partners_logos img {
        width: 60%;
      }
    }
  </style>

{% endblock %}

{% block content %}
  <center>
    <h1> partners </h1>

    <p id="partners_descrip" class="description">
      Over the year, we organize a wide variety of different events, ranging from case studies and speaker series to international
tech treks and Entrepalooza. We love experimenting with new ideas, so each semester always has a unique and creative
lineup of amazing events. To keep up to date with all our events, <a href="#">click here</a> to add our Google Calendar!.
    </p>

    <div id="partners_logos">
      <a href= "http://entrepreneurship.mit.edu/">
        <img src="{{url_for('static', filename='images/sponsors/mtcenter_logo.jpeg')}}"> 
      </a>
      <a href="https://innovation.mit.edu/">
        <img src="{{url_for('static', filename='images/sponsors/innovation-initiative-logo.png')}}">
      </a> 
    </div>
  </center>

  <!-- Toying around with SVGs
  <svg width="300" height="70" viewBox="0 0 300 70" xmlns="http://www.w3.org/2000/svg">
    <style type="text/css">
        #a { animation: x .5s ease alternate 14; }

        @keyframes x {
           from { fill: #000; }
             to { fill: #fff; }
        }
    </style>
    <rect id="a" x="14" y="23" width="28" height="28" fill="#000" />
</svg> -->

{% endblock %}