{% extends "layout.html" %}

{% block head %}
  {{ super() }}

  <style>

    .partners_descript {
      background-image: url(<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 300">
    <rect class="mouse" x="0" y="0" width="800" height="300"/>
    <polygon class="diamondMo tulip" points="400, 280, 310, 150, 400, 20, 490, 150"/>
    <style>
        .mouse { fill: #E5E4E3; }
        .tulip { fill: #CC2954; }
        .diamondMo {
            animation-name: diamondMoves;
            animation-duration: 8s;
            animation-iteration-count: infinite;
            transform-origin: 50% 50%;
        }
        @keyframes diamondMoves {
            0%   { transform: translate(0, 0); }
            20%  { transform: translate(0, -200px); }
            30%  { transform: translate(0, 0); }
            40%  { transform: translate(0, 200px); }
            50%  { transform: translate(0, 0); }
            60%  { transform: translate(-200px, 0); }
            70%  { transform: translate(0, 0); }
            80%  { transform: translate(200px, 0); }
            100% { transform: translate(0, 0); }
        }
    </style>
    </svg>)
    }
    #partners_logos {
      display: block;
      width: 90%;
      margin: 20px 20px 20px 20px;
    }
    #partners_logos img{
      height: 150px;
      margin: 30px 30px 30px 30px;
    }
  </style>

{% endblock %}

{% block content %}
  <center>
    <h1> partners </h1>

    <p id="partners_descrip" class="description">
      Over the year, we organize a wide variety of different events, ranging from case studies and speaker series to international
tech treks and Entrepalooza. We love experimenting with new ideas, so each semester always has a unique and creative
lineup of amazing events. To keep up to date with all our events, <a href="#">click here</a> (TODO: this is not done yet!) to add our Google Calendar!.
    </p>

    <div id="partners_logos">
      <a href= "http://entrepreneurship.mit.edu/">
        <img src="{{url_for('static', filename='images/sponsors/mtcenter_logo.jpeg')}}"> 
      </a>
      <a href="https://innovation.mit.edu/">
        <img src="{{url_for('static', filename='images/sponsors/innovation-initiative-logo.png')}}">
      </a> 
    </div>
  </center>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 300">
    <rect class="mouse" x="0" y="0" width="800" height="300"/>
    <polygon class="diamondMo tulip" points="400, 280, 310, 150, 400, 20, 490, 150"/>
    <style>
        .mouse { fill: #E5E4E3; }
        .tulip { fill: #CC2954; }
        .diamondMo {
            animation-name: diamondMoves;
            animation-duration: 8s;
            animation-iteration-count: infinite;
            transform-origin: 50% 50%;
        }
        @keyframes diamondMoves {
            0%   { transform: translate(0, 0); }
            20%  { transform: translate(0, -200px); }
            30%  { transform: translate(0, 0); }
            40%  { transform: translate(0, 200px); }
            50%  { transform: translate(0, 0); }
            60%  { transform: translate(-200px, 0); }
            70%  { transform: translate(0, 0); }
            80%  { transform: translate(200px, 0); }
            100% { transform: translate(0, 0); }
        }
    </style>
</svg>

{% endblock %}