<div class="section-title">
<section class="row heroimg breath">
	<h2> <a href="https://medium.com/mit-startlabs"> Past Events </a></h2>
	<imagewrapper>
			<div>
				<div class="imageIn">
					<img src="{{url_for('static', filename='old/images/NYC.JPG')}}" min-height="400" min-width="400" alt="">
					<div class="texts">
						NYC Startup Trek <p></p><p></p> <b>Fall 2016</b>
					</div>
				</div>
			</div>
			<div>
				<div class="imageIn">
					<img src="{{url_for('static', filename='old/images/highlander.jpeg')}}" min-height="400" min-width="400" alt="">
					<div class="texts">
						<a href="https://medium.com/mit-startlabs/highland-capital-partners-lunch-visit-ea974aedcc5a">
						<font color="white">
							Highlanders Capital Partners Lunch Visit <p></p><p></p> <b>Fall 2016</b></a>
						</font>
					</div>
				</div>
			</div>
			<div>
				<div class="imageIn">
					<img src="{{url_for('static', filename='old/images/seed.jpg')}}" min-height="400" min-width="400" alt="">
						<div class="texts">
								<a href="https://startlabsentrepreneurshipday.splashthat.com/">

						<font color="white">
								StartLabs Entrepreneurship Experience Day (SEED)
							<p></p><p></p> <b>Spring 2017</b></a>
						</font>
					</div>
				</div>
			</div>

			<div>
				<div class="imageIn">
					<img src="{{url_for('static', filename='old/images/entrepalooza.png')}}" height="200" width="1000" alt="">
					<div class="texts">
						<a href="https://entrepalooza.splashthat.com/">
						<font color="white">
							StartLabs Entrepalooza <p></p><p></p> <b>Fall 2017</b></a>
						</font>
					</div>
				</div>
			</div>

			<div>
				<div class="imageIn">
					<img src="{{url_for('static', filename='old/images/israel.jpg')}}" height="200" width="1000" alt="">
					<div class="texts">
						<a href="https://www.youtube.com/watch?v=Nf0LLSqocws">
						<font color="white">
							StartLabs Entrepalooza <p></p><p></p> <b>Spring 2018</b></a>
						</font>
					</div>
				</div>
			</div>




		</imagewrapper>