{% extends "layout.html" %}

{% block head %}
  {{ super() }}

  <style>

    /* Row of event information */
    /****************************/
 
    .row {
      width: 60%;
      display: flex;
      margin: 10px ;
    }

    .datetime{
      justify-content: flex-start;
      width: 33%;
      display: flex;
    }

    .event{
      font-size: 20px;
      font-weight: 600;
      width: 33%;
      display: flex;
      justify-content: space-around;
      padding: 5px;
    }

    .room{
      justify-content: flex-end;
      width: 33%;
      display: flex;
    }

    /* Custom colors */
    /****************/
    .info_session{
        color: {{colors.accent_two}};
    }

    .social{
        color: {{colors.dark}};
    }
    
    .resume_drop{
        color: {{colors.light}};
    }

    .interview{
        color: {{colors.medium}};
    }

    .link{
        color: {{colors.light}};
        font-weight: 600;
    }


    /* Footer line */
    /***************/

    .bottom{
      margin-top: 20%;
      display: flex;
      width: 100%;
      justify-content:space-around;
    }

    /* Small screens */
    /*****************/
    @media only screen and (max-width: 600px) {
      .row {
        margin: 10px;
        padding-bottom: 7%;
        width: 80%;
        flex-direction: column;
        margin: 10px;
      }
      .datetime{
        width:100%;
        justify-content:space-around;
      }
      .event{
        width: 100%;
        justify-content:space-around;
      }
      .room{
        width: 100%;
        justify-content:space-around;
      }

      .bottom{
        margin-top: 27%;
        display: flex;
        width: 100%;
        justify-content:space-around;
      }

    }
  </style>

{% endblock %}

{% block content %}
  <center>
    <h1> recruitment week </h1>
    <div>
      <p class="description">
        
        <div class = "eventtable">
          <div class = "row">
            <div class = "datetime"> sep. 25, 7:30 - 8:30</div> 
            <div class = "event info_session"> info session</div>
            <div class = "room"> room 4-163</div>
          </div>
          <div class = "row">
            <div class = "datetime"> sep. 27, 7:30 - 8:30 </div> 
            <div class = "event social"> startlabs social </div>
            <div class = "room"> room 4-153</div>
          </div>
          <div class = "row">
            <div class = "datetime"> sep. 27 @ 11:59 pm</div> 
            <div class = "event resume_drop"> resume drop </div>
            <div class = "link room"> <u><a href="https://forms.gle/DEnd3SohixSohdcSA">drop here</a></u></div>
          </div>
          <div class = "row">
            <div class = "datetime"> sep. 29, 2:00 - 6:00</div> 
            <div class = "event interview"> interview day</div>
            <div class = "room"> room tbd </div>
          </div>
        </div>
        
        <div class = "row">
          <div class = "bottom">
            email us at startlabs-management@mit.edu if you have any questions! 
          </div>
        </div>
    </div>
    </p>


  </center>

{% endblock %}