{% extends "layout.html" %}

{% block head %}
  {{ super() }}

  <style>

    /* Row of event information */
    /****************************/
 
    .row {
      width: 60%;
      display: flex;
      margin: 10px ;
    }

    .datetime{
      justify-content: flex-start;
      width: 33%;
      display: flex;
    }

    .event{
      font-size: 20px;
      font-weight: 600;
      width: 33%;
      display: flex;
      justify-content: space-around;
      padding: 5px;
    }

    .room{
      justify-content: flex-end;
      width: 33%;
      display: flex;
    }
    a { 
	    color: {{colors.accent_one}}
    }
    a:hover {
	    color: {{colors.accent_two}};
    }
    .intro { 
	    width: 60%
    }

    /* Custom colors */
    /****************/
    .info_session{
        color: {{colors.light}};
    }

    .startup_jeopardy{
        color: {{colors.accent_two}};
    }
    
    .senior{
        color: {{colors.accent_one}};
    }

    .ideathon{
      color: #0D0085;
    }

    .application{
        color: {{colors.medium}};
    }

    .interview{
        color: {{colors.medium}};
    }

    .link{
        font-weight: 600;
    }


    /* Resume Drop */

    button {
        color: {{colors.medium}};
        background-color: transparent;
        border-style: solid;
        border-width: 2px;
    	border-radius: 10px;
        border-color: {{colors.medium}};
        padding: 5px 20px 3px 20px;
        font-family: 'neue-einstellung';
        font-size:15px;
        font-weight:600;
        /* width:100px; */
    }

    #drop{
        cursor:pointer;
    }

    #drop:hover {
        color: white;
        background-color:{{colors.medium}};
    }

    /* Footer line */
    /***************/

    .bottom{
      margin-top: 10%;
      display: flex;
      width: 100%;
      justify-content:space-around;
    }

    /* Small screens */
    /*****************/
    @media only screen and (max-width: 600px) {
      .row {
        margin: 10px;
        padding-bottom: 7%;
        width: 80%;
        flex-direction: column;
        margin: 10px;
      }
      .datetime{
        width:100%;
        justify-content:space-around;
      }
      .event{
        width: 100%;
        justify-content:space-around;
      }
      .room{
        width: 100%;
        justify-content:space-around;
      }

      .bottom{
        margin-top: 27%;
        display: flex;
        width: 100%;
        justify-content:space-around;
      }

    }
  </style>

{% endblock %}

{% block content %}
  <center>
    <h1> recruitment week </h1>
    <h2><a href="https://docs.google.com/forms/d/e/1FAIpQLSdjLNgcOyclFCx23gv7w7phEOl8Sjz5-zvk1K0nNml4_INoXA/viewform" target="blank"> Application Is Now Open!! </a></h2>

    <div>
      <p class="description">
        <div class = "intro">
		This year, our recruitment week will take place remotely on the week of September 19. Please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSf4XNp73af8K-Pk45ReEYs5v2bSGS9L-EXvoeYvX_zsRIPThw/viewform" target="blank"> this short form </a> if you have any interest in StartLabs and would like to get updates on our recruiting events. 
        </div>
    	<br>    
        <div class = "eventtable">
          <div class = "row">
            <div class = "datetime"> sep. 20, 7 - 8 pm ET</div> 
            <div class = "event info_session"> Meet the Team</div>
	          <div class = "room">1-190</div>
          </div>
          <div class = "row">
            <div class = "datetime"> sep. 21, 7 - 8:30 pm ET</div> 
            <div class = "event startup_jeopardy"> Startup Jeopardy</div>
	          <div class = "room">IHQ (E38)</div>        
          </div>
          <div class = "row">
            <div class = "datetime"> sep. 22, 7 - 8 pm ET</div> 
            <div class = "event senior"> Senior Panel</div>
	          <div class = "room">3-270</div>        
          </div>
          <div class = "row">
            <div class = "datetime"> sep. 23, 7 - 8:30 pm ET</div> 
            <div class = "event ideathon"> Mini Idea Factory</div>
	          <div class = "room">IHQ (E38)</div>        
          </div>
          <div class = "row">
            <div class = "datetime"> sep. 25 @ 11:59 pm  ET</div> 
            <div class = "event application"> Application Due</div>
	         <div class = "room"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdjLNgcOyclFCx23gv7w7phEOl8Sjz5-zvk1K0nNml4_INoXA/viewform" target="blank"> apply here </a> </div>        
        </div>
        <div class = "row">
          <div class = "bottom">
            email us at startlabs-management@mit.edu if you have any questions! 
          </div>
        </div>
    </div>
    </p>


  </center>

{% endblock %}
