{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <style type="text/css">

    .headshots {
      vertical-align: top;
      display: inline-block;
      width: 300px;
      height: 400px;
      position: relative;
    }
    .headshots_blurb {
      height: 100%;
      width: 100%;
      background-color: rgb(243, 243, 243);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    .headshots_blurb:hover {
      opacity: 1;
      -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 0.5s; /* Firefox < 16 */
       -ms-animation: fadein 0.5s; /* Internet Explorer */
        -o-animation: fadein 0.5s; /* Opera < 12.1 */
           animation: fadein 0.5s;
    }
    .fullname {
      font-size: 20px;
      margin: 5px 5px 5px 5px;
    }

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

  </style>

{% endblock %}

{% block content %}
  <center>
      <h1> team </h1>
  </center>

  <center>
  {% for entry in headshots_info %}
    <div class="headshots">
      <img src="{{entry['image_path']}}" height="200px"  alt="" />
      <p class="fullname">
        {{entry['Name']}}
      </p>
      <p>
        {{entry['Department']}}
      </p>
      <p>
        Class of {{entry['Graduation Year']}}
      </p>
      <div class="headshots_blurb">
          <p>
            {{entry['Name']}}
          </p>
          <p>
            {{entry['Major']}}
          </p>
          <p>
            {{entry['Blurb']}}
          </p>
      </div>
    </div>    
  {% endfor %}

  <div style="font-size: 10px;">
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a>
  </div>

  </center>
  {% endblock %}

