{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <style type="text/css">

    .headshots {
      display: inline-block;
      width: 300px;
      height: 300px;
    }
    .fullname {
      font-size: 20px;
      margin: 5px 5px 5px 5px;
    }
    .position {
      font-size: 10px;
      font-style: italic; 
      margin: 5px 5px 5px 5px;
    }

  </style>

{% endblock %}

{% block content %}
  <center>
      <h1> team </h1>
  </center>

  <center>
  {% for d in headshots_info %}
    <div class="headshots">
      <img src="{{d['path']}}" height="60%"  alt="" />
      <p class="fullname">
        {{d['firstname']}}
      </p>
      <!-- <p class="position">
        (position)
      </p> -->
    </div>    
  {% endfor %}

  <div style="font-size: 10px;">
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a>
  </div>

  </center>
  {% endblock %}

