<div class="top-background">
    <div class="animation">
    
        <p><a href="./"><center><img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo"></center></a></p>

    
        <div id="motto">
            
            Fostering the next generation of <br> 
            <strong>technical entrepreneurs</strong>

        </div>
        <center>
            <div>
                <a target="_blank" href = "https://mailchi.mp/95a37a062faf/startlabs"><button>Subscribe</button></a>
            </div>

        </center>

        
    </div>        
</div>
